body {
    display: grid;
    grid-template-rows: auto auto auto;
    min-height: 100vh;
}


/* Utils */

.text-green {
    color: #3cb53c;
}

.text-blue {
    color: #0f7cc0;
}

.text-white {
    color: whitesmoke;
}

li {
    list-style: none;
}

.text-greenyellow {
    color: #80c618;
}

.bg-greenyellow {
    background-color: greenyellow;
}

.bg-tertiary {
    background-color: #dbdcdc;
}

footer {
    padding-top: 2.75rem;
}


/* Nav Styles */

header svg {
    width: 2.3em;
    margin-top: -0.6em;
    cursor: pointer;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    color: black;
    height: 100vh;
    width: 40%;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.5 ease-in-out;
    /* display: flex;
    flex-direction: column; */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
}

nav ul a {
    color: black;
    /* padding: 0.75em 2em; */
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 2em;
    display: block;
    font-weight: 900;
}

nav ul a:hover {
    background: rgb(235, 235, 235);
}

nav .close {
    float: right;
    margin: 2em;
    width: 2.5em;
}

.open-nav {
    transform: translateX(0%);
}


@media only screen and (min-width: 920px) {
    .menu {
        display: none;
    }

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
        color: white
    }

    nav svg.close {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    nav ul a {
        color: white;
        font-weight: 600;
        padding-top: unset;
        padding-bottom: unset;
        padding-left: unset;
    }

    nav ul a:hover {
        background: none;
        text-decoration: underline;
    }
}